[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*

# Visual Studio cache directory
.vs/
 
# Visual Studio Code cache directory
.vscode/

Library/
Temp/
Logs/
UserSettings/
Packages/
*.sln
*.csproj
*.sln
*.userprefs
*.unityproj
*.DS_Store